<p id="footer_info"><p>----------</p>
<a href = "http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Caratucay, sowie diese Website stehen unter einer Creative Commons Namensnennung Keine kommerzielle Nutzung Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz .</a></p>
