/* House keeping stuff */
* {
    margin: 0px;
    padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
    display:block;
}
/* end of house keeping stuff */
#body_id {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    margin-bottom:20px;
}
#top_nav {
    background:black;
    font-family: 'Nova Cut', arial, serif;
}

#top_nav a {
    color: white;
    float:left;
    text-align:center;
    width: 16%;
    color: white;
    cursor:pointer;
    text-decoration:none;
}

#main_section article {
    margin-top:30px;
    padding-left:30px;
    padding-bottom:100px;
}
#main_section border {
    border-
}

#footer_info {
    text-align:center;
    padding-top: 20px;
    font-size:smaller;
    color:red;
}

article header{
    text-align:center;
    border-top: 1px solid black;
    margin-left:300px;
    margin-right:300px;
}

article p{
    margin:20px;
}

#article_band img{
    float:left;
    width:200px;
    padding-right:30px;
    padding-top:30px;
}

#article_music {
    margin-bottom:100px;
}

#article_music img{
    float:left;
    width:300px;
    padding-right:30px;    
}
#profile_band {
    padding-left: 240px;
}
#profile_music {
    padding-left: 20px;
}

#profile_music_lyrics_download
{
    
}
#article_picture img {
    width:400px;
    margin-top:30px;
    margin-left:130px;
    margin-right:auto;
}
#article_picture #picture_control {
    padding-left:130px;
    margin-top:30px;
}
#article_picture span {
    cursor:pointer;
}