<a href="index.html" id="a_news">News</a>
<a href="band.html" id="a_band">Band</a>
<a href="music.html" id="a_music">Music</a>
<a href="live.html" id="a_live">Live</a>
<a href="pictures.html" id="a_pictures">Pictures</a>
<!-- <a href="guestbook.html" id="a_guestbook">Guestbook</a> -->
<a href="contact.html" id="a_contact">Contact</a>
p
